*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: $font-primary;
  font-weight: $fw-regular;
  font-size: 1.6rem;
  width: 100vw;
}
