.icon {
  font-size: 2.5rem;
}

.nav__items {
  list-style: none;
}

.nav__links {
  text-decoration: none;
  color: $color-black;
  cursor: pointer;

  &:hover {
    color: $color-brand;
  }
}

/*---------- BUTTONS ----------*/
.btn {
  background: $color-secondary;
  color: $color-white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  padding: 1rem 2rem;
  text-transform: capitalize;
  transition: all 0.3s ease;

  &:hover {
    background: $color-black;
    color: $color-white;
  }
}

.btn__dark {
  background: $color-black;
  border: 2px solid $color-black;
  transition: all 0.2s ease;

  &:hover {
    background: $color-white;
    color: $color-black;
  }
}

.btn__light {
  background: $color-white;
  color: $color-black;
  border: 2px solid $color-black;
  transition: all 0.2s ease;

  &:hover {
    background: $color-primary;
    border-color: $color-primary;
  }
}

/*---------- HEADING ----------*/
.heading-h1 {
  font-family: $font-tertiary;
}

.heading-h2 {
  font-size: 1.8rem;
  font-weight: $fw-bold;
  letter-spacing: 0.5px;
  margin-bottom: 2rem;
}
